<h1>Welcome to Deimos Esports</h1>
<app-game-list></app-game-list>

<h2>Who We Are</h2>
<p>
  Deimos Gaming is a multi-game clan with a Destiny Speed run team at its core, getting 6th place in the world for the Leviathan
  Raid speed run competition and 2nd on pc. we support Destiny, Player Unknown battlegrounds, Overwatch, Warframe, and Runescape
  but are constantly expanding these games.
</p>
<div class="right">
<h2>What We Do</h2>
<p>
  Deimos as a whole is a very friendly, reliable, lively clan, we are always greeting new players everyday within their first
  few second of joining. for our multiple games that we support we constantly are expanding to ensure the happiness of our
  current and future clanmates. also we strive to keep things very organized, simple, and user friendly for everyone.
</p>
</div>
<div class="join">
  <h2>Join Deimos Gaming</h2>

  <p>
    Come and join us today via our Discord link, we are always excited to see new people join and many do everyday! Come and
    help us expand our server!
  </p>
  <div class="join-button">
    <img id="img_1" src="../../assets/discord_small.png">
    <img id="img_2" src="../../assets/discord_white.png">Join
  </div>
</div>